<div class="container mt-5">
  <h2>Add Property</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 mt-3">
      <label for="address" class="form-label">Address</label>
      <input
        type="name"
        class="form-control"
        id="address"
        placeholder="Enter Address"
        formControlName="address"
      />
    </div>
    <div
      *ngIf="
        form.controls['address'].invalid && form.controls['address'].touched
      "
    >
      <div class="alert alert-danger">Address is required</div>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Property type</label>
      <input
        type="name"
        class="form-control"
        id="type"
        placeholder="Enter Property type"
        formControlName="type"
      />
    </div>
    <div *ngIf="form.controls['type'].invalid && form.controls['type'].touched">
      <div class="alert alert-danger">Property type is required</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="name"
        class="form-control"
        id="description"
        placeholder="Enter Description"
        formControlName="description"
      />
    </div>
    <div
      *ngIf="
        form.controls['description'].invalid &&
        form.controls['description'].touched
      "
    >
      <div class="alert alert-danger">Description is required</div>
    </div>

    <div class="mb-3">
      <label for="taxAmount" class="form-label">Tex Amount</label>
      <input
        type="number"
        class="form-control"
        id="taxAmount"
        placeholder="Enter Tax Amount"
        formControlName="taxAmount"
      />
    </div>
    <div
      *ngIf="
        form.controls['taxAmount'].invalid && form.controls['taxAmount'].touched
      "
    >
      <div class="alert alert-danger">Tex Amount is required</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="taxStatus" class="form-label">Tax Status</label>
      <select
        formControlName="taxStatus"
        class="form-select"
        aria-label="Default select example"
      >
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName" class="form-label">Owner First Name</label>
        <input
          type="name"
          class="form-control"
          id="firstName"
          placeholder="Enter Owner First Name"
          formControlName="firstName"
        />
        <div
          *ngIf="
            form.controls['firstName'].invalid &&
            form.controls['firstName'].touched
          "
        >
          <div class="alert alert-danger">Owner First Name is required</div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="lastName" class="form-label">Owner Last Name</label>
        <input
          type="name"
          class="form-control"
          id="lastName"
          placeholder="Enter Owner Last Name"
          formControlName="lastName"
        />
        <div
          *ngIf="
            form.controls['lastName'].invalid &&
            form.controls['lastName'].touched
          "
        >
          <div class="alert alert-danger">Owner Last Name is required</div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-5">Add Property</button>
  </form>
</div>
